.formFull{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.inputFull{
    display: flex;
    justify-content: space-between;
}

.err{
    color: red;
}